<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li *ngIf="isLoggedIn | async" class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employees</a>
    </li>
    <li *ngIf="isLoggedIn | async" class="nav-item">
        <a routerLink="employees2" class="nav-link" routerLinkActive="active">Finance</a>
    </li>
    <li *ngIf="isLoggedIn | async" class="nav-item">
        <a routerLink="employees3" class="nav-link" routerLinkActive="active">Admin</a>
    </li>
  </ul> 
  <ul class="navbar-nav navbar-collapse justify-content-end">
            <li *ngIf="!(isLoggedIn | async)">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li *ngIf="isLoggedIn | async">
                <a  class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
            </li>
        </ul> 
</nav>


<div class="container">
  <br>   
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2020 @sks nishshanka </span>
  </div>
</footer>