<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" maxlength="200"
      [(ngModel)]="employee.firstName" name="firstName" #name="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required >
      <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
      <p *ngIf="name.errors.required">First Name is required</p>      
      <p *ngIf="name.errors.maxlength">First Name can be max 200 characters long</p>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName"  maxlength="200"
      [(ngModel)]="employee.lastName" name="lastName" #lastName="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && lastName.invalid }" required>
      <div class="invalid-feedback" *ngIf="userForm.submitted && lastName.invalid">
      <p *ngIf="lastName.errors.required">Last Name is required</p>
      <p *ngIf="lastName.errors.maxlength">Last Name can be max 200 characters long</p>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailId" maxlength="200"
       [(ngModel)]="employee.emailId" name="emailId"  #emailId="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && emailId.invalid }" email required>
      
      <div *ngIf="userForm.submitted && emailId.invalid" class="invalid-feedback">
      <div *ngIf="emailId.errors.required">Email is required</div>
      <div *ngIf="emailId.errors.email">Must be a valid email address</div>
      <div *ngIf="emailId.errors.maxlength">Email can be max 200 characters long</div>
    </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button (click)="gotoList()" class="btn btn-primary" style="margin-left: 10px">Cancel</button><br>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
